@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/animations' as *;

.card-skeleton {
		animation: shimmer 1.5s infinite;
		background-size: 200% 100%;
		background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
		border-radius: $border-radius-sm;

	&__image {
		aspect-ratio: 2 / 3;
		border-radius: $border-radius-md;
		width: 100%;
	}
}
