@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.pagination {
	@include flex(row, center);
	gap: $spacing-sm;

	&__icon {
		@include icon(24px);
	}

	&__btn {
		background-color: $color-background;
		border: 1px solid $color-border;
		color: $color-text-muted;
		cursor: pointer;
		font-size: $font-size-md;
		padding: $spacing-sm $spacing-md;
		transition: all ease-out 0.3s;

		&:disabled {
			background-color: $color-disabled;
			color: $color-white;
			cursor: not-allowed;
			opacity: 0.3;
		}

		&--active,
		&--active:disabled {
			background-color: $color-accent;
			color: $color-white;
			cursor: default;
			opacity: 1;
		}

		&:hover:not(:disabled) {
			border-color: $color-accent;
			color: $color-accent;
		}
	}
}