@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.search-form {
	&__group {
		position: relative;
	}
	&__button {
		color: $color-text-muted;
		position: absolute;
		right: $spacing-md;
		top: 50%;
		transform: translateY(-50%);
		transition: color 0.3s ease;

		&:hover,
		&:focus {
			color: $color-text;
		}

		.search-form__icon {
			@include icon(20px);
		}
	}
}