@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.filter-sidebar {
	align-self: flex-start;
	flex-shrink: 0;
	max-height: 100vh;
	overflow-y: auto;
	padding: $spacing-md 0;
	position: sticky;
	top: 0;
	width: 280px;

	&__header {
		@include flex(row, space-between, center);
		border-bottom: 1px solid $color-border;
		padding-bottom: $spacing-md;
		margin-bottom: $spacing-md;
	}

	&__reset {
		@include flex(row, center, center);
		font-size: $font-size-xs;
		gap: $spacing-xs;
		padding: 0;
		text-transform: uppercase;

		&:focus,
		&:hover {
			color: $color-accent;
		}

		&__icon {
			margin-right: $spacing-sm;
		}
	}
}