@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.accordion {

	&__button {
		@include flex(row, space-between, center);
		border: 1px solid $color-border;
		cursor: pointer;
		font-size: $font-size-xs;
		padding: $spacing-sm;
		text-transform: uppercase;
		transition: all ease-out 0.3s;

		@include respond-to(md) {
			border: 0;
			border-bottom: 1px solid $color-border;
			font-size: $font-size-sm;
			padding: $spacing-md 0;
			width: 100%;
		}

		&:hover {
			color: $color-accent;
		}
	}

	&__content {
		background-color: $color-surface;
		left: 0;
		padding: $spacing-md;
		position: absolute;
		right: 0;
		top: 100%;
		width: 100%;
		z-index: 10;

		@include respond-to(md) {
			background-color: transparent;
			padding: 0;
			position: static;
			width: auto;
			z-index: auto;
		}
	}

	&__icon {
		margin-left: $spacing-sm;
		transition: transform 0.3s ease;

		&--open {
			transform: rotate(180deg);
		}
	}
}
