@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.app {
	display: flex;
	flex-direction: column;
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: $breakpoint-xl;
	padding: 0 $spacing-md;
	width: 100%;

	@include respond-to(md) {
		padding: 0 $spacing-xl;
	}
}

.site-main {
	padding: $spacing-md 0;

	@include respond-to(md) {
		padding: $spacing-xl 0;
	}

	&__container {
		@include flex(column);

		@include respond-to(md) {
			@include flex(row);
			gap: $spacing-xl;
		}
	}

	&__content {
		flex: 1;
		padding: $spacing-md 0;
	}
}
